numpy<2.0.0
evidently==0.4.27
orjson
aiohttp
pyarrow
lightgbm
scikit-learn
pandas
fastapi
uvicorn
joblib
pandas_ta
yfinance
praw
snscrape
pandas-datareader
fredapi
fastparquet
tqdm
transformers
torch
alpaca_trade_api
python-dotenv
requests
schedule
werkzeug
